.cards {
    display: flex;
    flex-direction: row;
    width: 1200px;
}

.div-loading {
    display: flex;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}