.card {
    width: 300px;
    background-image: url('https://us.123rf.com/450wm/29october/29october1803/29october180300432/96542359-textura-de-fondo-de-metal-de-placa-de-acero-cepillado.jpg?ver=6');
    background-size: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    color: rgb(136, 18, 136);
    height: 450px;
}


.imgcard {
    width: 300px;
    height: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.content {
    padding-bottom: 10px;
    height: 200px;
    padding-bottom: 10px;
}

.content2 {
    height: 130px;
    color: black;
}

.vgname {
    font-size: 20px;
    color: rgb(40, 140, 255);
}

.h3 {
    font-size: 16px;
}

.details {
    background-color: rgb(40, 140, 255);
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 3px;
}

.genres {
    line-height : 10px;
}