body {
    background-image: url('https://wallpapercave.com/wp/wp6082408.jpg');
    background-size: cover;
    /* background-image: url('https://images.alphacoders.com/694/thumb-1920-694756.jpg'); */
    color: white;
    text-align: center;
}