@font-face {
    font-family: "American Captain";
    src: url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff2");
  }


.navbarh4 {
    font-family: American Captain;
    font-size: 50px;
    /* text-align: center; */
    margin: 30px 0 50px 430px;
    /* margin-left: 430px; */
}