@font-face {
    font-family: "American Captain";
    src: url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff2");
  }


.navbarh4 {
    font-family: American Captain;
    font-size: 70px;
    margin: 5px 0 0px 480px;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.navbarh5 {
  font-family: American Captain;
  font-size: 50px;
  margin: 0px 0 20px 530px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.btn-lp {
  background-color: rgba(91, 217, 255, 0.63);
  border: none;
  color: white;
  width: 120px;
  height: 20px;
}